albumentations
einops
h5py
hydra-core
imageio
lightning
matplotlib
netCDF4
numpy
opencv-python
pandas
rasterio
rich
scikit-learn
scipy
segmentation_models_pytorch
tensorboard
timm
torch
torchmetrics
torchvision
tqdm
wandb
xgboost
